<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/0002.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>手工製作塔皮，口感酥脆，加上現煮新鮮檸檬與奶油餡，吃起來清爽不甜膩。</p>
            <p class="text-danger">
                主原料 :手作奶油甜塔皮/杏仁奶油蛋糕/檸檬酒/檸檬凝乳/檸檬屑/蛋白霜/黃、綠檸檬片。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限:甜點蛋糕建議都當日食用完畢為佳，冷藏保存請妥善密封，可冷藏保存2天。</p>
        </div>
    </div>
</div>
