<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/0004.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>巧克力迷的你可不要錯過，來自比利時的巧克力，一口咬下苦甜的滋味揮之不去。</p>
            <p class="text-danger">
                主原料 :麵粉、糖、可可粉、比利時60.1%苦甜巧克力、巧克力醬、法國純生巧克力塊。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限:甜點蛋糕建議都當日食用完畢為佳，冷藏保存請妥善密封，可冷藏保存2天。</p>
        </div>
    </div>
</div>
