<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/0006.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>基底是使用有機的玫瑰花花瓣與葡萄柚，加上淡淡的蜂蜜襯托葡萄柚的清香，上層草莓來相伴給你多層體驗。</p>
            <p class="text-danger">
                主原料 : 玫瑰瑪德蓮、蜂蜜葡萄柚庫利、草莓慕斯、草莓軟凍、草莓。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限 : 甜點蛋糕建議都當日食用完畢為佳，冷藏保存請妥善密封，可冷藏保存2天。</p>
        </div>
    </div>
</div>
