<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/0007.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>中焙咖啡較淺焙有著更深褐色的外觀，咖啡的油脂也可能在表面就看得到兼具巧克力般的苦味與醇厚風味。</p>
            <p class="text-danger">
                口感：口味偏甜味，帶點酸味、苦味。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限 :咖啡豆賞味期約是15~30天左右。</p>
        </div>
    </div>
</div>
