<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/0008.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>咖啡淺焙時的鮮明酸質會被深焙的醇厚度所取代，當品嚐深焙咖啡時大多喝到烘焙時產生的風味。</p>
            <p class="text-danger">
                口感：偏苦，較少甜味，也近無酸味。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限 :咖啡豆賞味期約是15~30天左右。</p>
        </div>

    </div>
</div>
