<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/0009.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>常見於單一產地咖啡豆烘焙，因為其烘焙出的咖啡帶有肉桂皮的顏色，適合手沖。</p>
            <p class="text-danger">
                口感：喝起來味道偏酸、甜味較弱，較無苦味。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限 :咖啡豆賞味期約是15~30天左右。</p>
        </div>

    </div>
</div>

