<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/巧克力小禮盒4顆入.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>使用莊園巧克力做為原料的Bonbon入口的感覺極富層次感，除了濃厚的可可香氣帶來微苦卻勁道十足的口感，緊接著會感受到頂級可可特有的微酸以及舌尖順滑絲絨感。</p>
            <p class="text-danger">
                主要用於夾心巧克力的軟心，由巧克力和鮮奶油組成的甘納許。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限 :為了維持巧克力的新鮮度與風味，最好是在一個月內品嚐。</p>
        </div>
    </div>
</div>
