<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/瑪德蓮.jpg" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>使用法國Aoc認證，世界頂級諾曼地Isigny地區的伊思尼發酵奶油，看似樸實，一口咬下，能感受濃郁的雞蛋與檸檬香氣。</p>
            <p class="text-danger">
                口感：綿密、濕潤，為此款蛋糕的一大特色。
            </p>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>保存期限 :冷藏保存5天，退冰後直接食用。</p>
        </div>
        
    </div>
</div>