<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/coffee pot.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>使用304不銹鋼材質。</p>
            <p class="text-danger">
                從設計外觀上看起來都讓人感到非常的舒適，使用上不論是空水穩定度、出水順暢度都非常優異。除了壺內有刻度之外也有可插入溫度計的設計，提升了使用上的便利性及精準性，更能沖泡出一杯口感豐富的咖啡。
            </p>
        </div>
    </div>
</div>
