<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/咖啡濾杯2-1.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>金屬搭配黑色噴漆的錐形濾杯。</p>
            <p class="text-danger">
                除實用性外在外觀上也擁有了設計的質感
                錐形濾杯特色是濾出水流快，當熱水注入濾杯鐘後便會以幾乎零時差的方式濾出咖啡，因此注水的方式容易影響咖啡的風味。
                使用者可藉由調整浸透、悶蒸咖啡豆的時間泡出不同風味的咖啡；加上咖啡粉容易集中的緣故，因此較不會有沖泡不完全的情形發生。
            </p>
        </div>
    </div>
</div>
