<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/造型咖啡濾杯細部.jpeg" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>波浪濾杯。</p>
            <p class="text-danger">
                因為使用的濾紙像是杯子蛋糕般而得名，此款採用陶瓷製造。
                波浪濾杯以三孔且平面的底部做為設計，使用的濾紙擁有波浪般的特殊摺痕，有效避免濾紙與濾杯因沖煮後過於貼合，咖啡粉也因此更可以被均勻萃取，平底的設計還能穩定流速，而因為沖煮較偏向浸泡式，故咖啡體層次較不明顯、風味較均勻。
            </p>
        </div>

    </div>
</div>
