<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/咖啡濾紙.jpg" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>扇形咖啡濾紙。</p>
            <p class="text-danger">
                經加工處理後去除了紙漿的味道，使用上便捷性高，用完即棄，也因去除了紙漿的味道衝出來的咖啡口味比較香醇，殘渣雜味少。
            </p>
        </div>
    </div>
</div>
