<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/愛心蛋糕盤叉組尺寸.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>愛心蛋糕盤叉組。</p>
            <p class="text-danger">
                每一組裡面有5個愛心紙盤、珍珠白蛋糕叉，有2種顏色可做選擇:寶寶藍、寶寶粉。
                很適合婚禮或是生日派對上。
            </p>
        </div>
    </div>
</div>
