<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/金色銀色條紋蠟燭 .png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>金色銀色條紋蠟燭。</p>
            <p class="text-danger">
              有著時尚感的慶生蠟燭，一盒裡面有6支，蠟燭還附著塑膠底可銜接蠟油。
            </p>
        </div>
    </div>
</div>
