<div class="container product-detail">
    <div class="row col-lg-6">
        <img src="~/Company/Company/images/sale/蛋糕插牌.png" />
    </div>
    <div class="col-lg-6" id="product" style="padding-top:20px">
        <div style="text-align:justify">
            <p>HappyBirthday蛋糕插牌。</p>
            <p class="text-danger">
                手寫設計款happybirthday，運用在蛋糕裝飾上，讓蛋糕看起來更美觀可口。
            </p>
        </div>
    </div>
</div>
