@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_All.cshtml";
}



<div class="aboutus">
    <div class="container">
        <div class="center" style="margin-top:20rem;">

            <div class="div-relative text-center">
                <div class="div-b">About us</div>
                <div class="div-c">
                    ANY
                    I CAFE
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row" style="margin-top:10rem;">
                <div class="col-12 col-md-6 col-lg-3 col-lg-offset-3 ">

                    <p class=" text-justify wow fadeInDown  " style="font-size:medium;" data-wow-duration="1000ms" data-wow-delay="300ms">
                        關於安逸，一杯香醇的咖啡、一份精緻的甜點、一個悠閒的下午。

                        我們使用最簡單的食材，製作甜而不膩的甜點搭配香氣十足的咖啡陪伴你的一天。

                        我們提供宅配服務希望您也能舒適地擁有這安逸的片刻，並隨時隨地都能享受著這安逸的小確幸。

                        您今天安逸了嗎?
                    </p>

                </div>

                <div class="col-12 col-md-6  col-lg-3 wow fadeInDown  " data-wow-duration="1000ms" data-wow-delay="300ms">

                    <img src="~/Company/Company/images/pjimage3.jpg" alt="" class="img-fluid" />
                </div>

            </div>
        </div>

    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14471.667252580726!2d121.18249195!3d24.93490365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682361c065cbe9%3A0xc24080034849b3e3!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y5qGD56u56IuX5YiG572y5bm8542F6IG35qWt6KiT57e05aC0!5e0!3m2!1szh-TW!2stw!4v1616570802916!5m2!1szh-TW!2stw"
        width="100%" height="230" style="border:0;" allowfullscreen="" loading="lazy"></iframe>





