@{
    ViewBag.Title = "AnYi Cafe";
    Layout = "~/Views/Shared/_Layout_All.cshtml";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(../../Company/Company/images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2 class="animation animated-item-1">Welcome </h2>
                                <span class="animation animated-item-2">ANYI CAFE</span>
                            </div>
                        </div>

                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                @*<img src="../../Company/Company/images/slider/img3.png" class="img-responsive">*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="feature">
    <div class="container">
        <div class="text-center">
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="~/Company/Company/images/cook.jpg" />
                <h3>NATURAL</h3>
                <p>使用天然的食材，完美詮釋蛋糕口感</p>
            </div>
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="~/Company/Company/images/coffeebean.jpg" />
                <h3>FRESH</h3>
                <p>專業咖啡烘焙，享受優質體驗</p>
            </div>
        </div>
    </div>
</div>
@*<div class="about">
        <div class="container">
            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h2>about us</h2>
                <img src="images/6.jpg" class="img-responsive" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                    pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>

            <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <h2>Template built with Twitter Bootstrap</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                    pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>
        </div>
    </div>*@

<div class="lates">
    <div class="container">
        <div class="text-center">
            <h1 class="line">精選商品</h1>
        </div>
        <div class="col-md-4 wow pulse" data-wow-duration="1000ms" data-wow-delay="300ms">
            <a href="/Product/ProductDetail/001"><img src="~/Company/Company/images/sale/1.png" class="img-responsive" /></a>
        </div>

        <div class="col-md-4 wow pulse" data-wow-duration="1000ms" data-wow-delay="600ms">
            <a href="/Product/ProductDetail/005"><img src="~/Company/Company/images/sale/8.png" class="img-responsive" /></a>
        </div>

        <div class="col-md-4 wow pulse" data-wow-duration="1000ms" data-wow-delay="900ms">
            <a href="/Product/ProductDetail/003"><img src="~/Company/Company/images/sale/5.png" class="img-responsive" /></a>
        </div>
    </div>
</div>

<section id="partner">
    <div class="container">
        <div class="col-md-4 ">
            <img src="~/Company/Company/images/sale/box (1).png" />
        </div>
        <div class="col-md-8">
            <h3><i class="fa fa-truck" aria-hidden="true"></i>宅配須知 :</h3>
            <p class="text-justify">
                ※宅配一定有風險，下單前請三思，運送過程可能會因車體晃動、路面不平等而有碰撞的狀態，風險須自行承擔，黑貓已公告不受理蛋糕類的毀壞補償，
                除非嚴重人為因素的變形，黑貓宅配才會視狀況退還"運費"，可以接受者再下單喔!!
            </p>
        </div>
    </div>

</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14471.667252580726!2d121.18249195!3d24.93490365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682361c065cbe9%3A0xc24080034849b3e3!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y5qGD56u56IuX5YiG572y5bm8542F6IG35qWt6KiT57e05aC0!5e0!3m2!1szh-TW!2stw!4v1616570802916!5m2!1szh-TW!2stw"
        width="100%" height="235" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/paroller.js-master/dist/jquery.paroller.min.js"></script>
<script>
    $('.carousel slide').paroller();
</script>

