
@{
    ViewBag.Title = "MessagePage";
    Layout = "~/Views/Shared/_Layout_All.cshtml";
}

<section id="contact-page">
    <div class="container">
        <div class="center " style="margin-top:30rem">
            <div class="div-relative text-center">
                <div class="div-b">@ViewBag.HeaderText</div>
              
                <br />
            </div>
            <h1 class="text-center " style="color:black">@ViewBag.MessageText</h1>
        </div>
    </div>
    <!--/.container-->

</section>

