@{
    ViewBag.Title = "線上訂購";
    Layout = "~/Views/Shared/_Layout_All.cshtml";
}

<section id="portfolio2" style="min-height: 100vh">
    <div class="container">
        <div class="center" style="margin-top:20rem">

            <div class="div-relative text-center">
                <div class="div-b">Order</div>
                <div class="div-c">ANYI CAFE</div>
            </div>
        </div>


        <!--/#portfolio-filter-->
    </div>
    <div class="container">
        <div class="wow fadeInUp" >
            <div class="portfolio2-items">
                <!--/.portfolio-item-->

                <div class="portfolio2-item joomla bootstrap col-xs-12 col-sm-4  ">
                    <div class="recent-work-wrap">
                        @*<img class="img-responsive " src="images/portfolio/recent/item2.png" alt="">*@
                        <div class="overlay2 text-center ">
                            <figure style="margin:auto;">
                                <img src="~/Company/Company/images/sale/10.png" class="img-filid" />
                                <figcaption>加入購物車</figcaption>
                            </figure>
                            <h2>經典檸檬塔派/6吋</h2>
                            <p>$300</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio2-item bootstrap wordpress col-xs-12 col-sm-4 ">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                    <div class="overlay2 text-center">
                        <figure>
                            <img src="~/Company/Company/images/sale/30.png" class="img-filid " />
                            <figcaption>加入購物車</figcaption>
                        </figure>
                        <h2>瘋狂黑巧克力/6吋</h2>
                        <p>$320</p>
                    </div>
                </div>
            </div>

            <!--/.portfolio-item-->

            <div class="portfolio2-item joomla  bootstrap col-xs-12 col-sm-4 ">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">

                    <div class="recent-work-inner text-center">
                        <div class="overlay2 text-center">
                            <figure>
                                <img src="~/Company/Company/images/sale/05.png" class="img-filid " />
                                <figcaption>加入購物車</figcaption>
                            </figure>
                            <h2>草莓華爾滋/6吋</h2>
                            <p>$380</p>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio2-item wordpress html apps col-xs-12 col-sm-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                    <div class="overlay2 text-center">
                        <figure>
                            <img src="~/Company/Company/images/sale/07.png" class="img-filid" />
                            <figcaption>加入購物車</figcaption>
                        </figure>
                        <h2>水洗中淺焙咖啡豆</h2>
                        <p>$280</p>
                    </div>
                </div>
            </div>

            <!--/.portfolio-item-->

            <div class="portfolio2-item wordpress html col-xs-12 col-sm-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                    <div class="overlay2 text-center">
                        <figure>
                            <img src="~/Company/Company/images/sale/08.png" class="img-filid" />
                            <figcaption>加入購物車</figcaption>
                        </figure>
                        <h2>水洗深焙咖啡豆</h2>
                        <p>$280</p>
                    </div>
                </div>
            </div>

            <!--/.portfolio-item-->
            <div class="portfolio2-item wordpress html  col-xs-12 col-sm-4 ">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                    <div class="overlay2 text-center">
                        <figure>
                            <img src="~/Company/Company/images/sale/09.png" class="img-filid " />
                            <figcaption>加入購物車</figcaption>
                        </figure>
                        <h2>水洗淺焙咖啡豆</h2>
                        <p>$280</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>